.BinaryButtons {
    margin: auto;
    padding: 30px;
    align-items: center;
}

.BinaryButton {
    display: inline-block;
}

.header {

    width: 100%;
    padding-top: 30px;
}

.body {
    display: inline;
}

.containerLeft {
    position: relative;
    width: 30%;
    float: left;
}

.containerCenter {
    position: relative;
    width: 40%;
    float: left;
    margin-top: 12%;
}
.containerRight {
    position: relative;
    width: 30%;
    float: right;
}

.imageLeft {
    float:left;
    width: 100%;
}

.button {
    padding: 20px
}

.imageRight {
    float: right;
    width: 100%;
}

.content {
    padding-top: 30px;
}
.footer {
    padding-top: 3000px;
    display: inline;
}