.likertResponse > input:checked + .likertIndicator {
  background-color: #3f51b5 !important;
}

.blink_me {
  animation: blinker 5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.Question {
  width: 60%;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

.nextButton {
  margin-top: 20px;
}

.likertScale {
  font-size: medium;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border-width: 0px !important;
}

.likertLine {
  border-top: none !important;
}

.likertScale legend {
  display: none;
}

.likertIndicator {
  height: 2em !important;
  width: 2em !important;
  border-radius: 2em !important;
}

.likertText {
  padding-top: 0.7em !important;
  font-size: x-large;
}

span.MuiFormControlLabel-label {
  margin: auto;
  font-size: x-large;
}

.likertScale div label span.likertIndicator {
  background-color: white;
  border: solid #002984;
}

.Option span {
  color: #3f51b5;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0, 6);
}
.modal-main {
  position: fixed;
  background: white;
  width: 30%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.MultipleChoice div div div span {
  color: #3f51b5 !important
}

.MultipleChoice div div div {
  background-color: transparent !important;
}

.OptionLabel span {
  font-size: 1.3em;
}